local kavoUi = loadstring(game:HttpGet("https://pastebin.com/raw/vff1bQ9F"))()
local window = kavoUi.CreateLib("Pop it trading script Made by BlockYT FromRoblosOhio","GrapeTheme")

---Tabs

local Tab1 = window:NewTab("Buy Box toys")
local Tab1Section = Tab1:NewSection("Buy Box toys")
local Tab2 = window:NewTab("Buy Letters")
local Tab2Section = Tab2:NewSection("Buy Letters") 
local Tab3 = window:NewTab("Buy Heart Items") 
local Tab3Section = Tab3:NewSection("Buy Heart Items") 
local Tab4 = window:NewTab("Credits") 
local Tab4Section = Tab4:NewSection("Made By BlockYT FromRoblosOhio") 
---Buttons

Tab1Section:NewButton("Buy Box Toy Air", "Nothing", function() 
local args = {
    [1] = "Box Toy Air"
}

game:GetService("ReplicatedStorage").RemoteEvents.BuyItemCash:FireServer(unpack(args)) 
end) 

Tab1Section:NewButton("Buy Box Toy Egg", "Nothing", function() 
local args = {
    [1] = "Box Toy Egg"
}

game:GetService("ReplicatedStorage").RemoteEvents.BuyItemCash:FireServer(unpack(args)) 
end) 

Tab1Section:NewButton("Buy Box Toy Box Toy", "Nothing", function() 
local args = {
    [1] = "Box Toy Box Toy"
}

game:GetService("ReplicatedStorage").RemoteEvents.BuyItemCash:FireServer(unpack(args)) 
end) 

Tab1Section:NewButton("Buy Box Toy Noob", "Nothing", function() 
local args = {
    [1] = "Box Toy Noob"
}

game:GetService("ReplicatedStorage").RemoteEvents.BuyItemCash:FireServer(unpack(args)) 
end) 

Tab1Section:NewButton("Buy Box Toy House", "Nothing", function() 
local args = {
    [1] = "Box Toy House"
}

game:GetService("ReplicatedStorage").RemoteEvents.BuyItemCash:FireServer(unpack(args)) 
end) 

Tab1Section:NewButton("Buy Box Sanic", "Nothing", function() 
local args = {
    [1] = "Box Toy Sanic"
}

game:GetService("ReplicatedStorage").RemoteEvents.BuyItemCash:FireServer(unpack(args)) 
end) 

Tab1Section:NewButton("Buy Box SandMan", "Nothing", function() 
local args = {
    [1] = "Box Toy SandMan"
}

game:GetService("ReplicatedStorage").RemoteEvents.BuyItemCash:FireServer(unpack(args)) 
end) 

Tab1Section:NewButton("Buy Box Toy Lem", "Nothing", function() 
local args = {
    [1] = "Box Toy Lem"
}

game:GetService("ReplicatedStorage").RemoteEvents.BuyItemCash:FireServer(unpack(args)) 
end) 

Tab1Section:NewButton("Buy Box Toy Harambe", "Nothing", function() 
local args = {
    [1] = "Box Toy Harambe"
}

game:GetService("ReplicatedStorage").RemoteEvents.BuyItemCash:FireServer(unpack(args)) 
end) 

Tab2Section:NewButton("Buy A", "Nothing", function() 
local args = {
    [1] = "A"
}

game:GetService("ReplicatedStorage").RemoteEvents.BuyItemCash:FireServer(unpack(args)) 
end) 

Tab2Section:NewButton("Buy B", "Nothing", function() 
local args = {
    [1] = "B"
}

game:GetService("ReplicatedStorage").RemoteEvents.BuyItemCash:FireServer(unpack(args)) 
end) 

Tab2Section:NewButton("Buy C", "Nothing", function() 
local args = {
    [1] = "C"
}

game:GetService("ReplicatedStorage").RemoteEvents.BuyItemCash:FireServer(unpack(args)) 
end) 

Tab2Section:NewButton("Buy D", "Nothing", function() 
local args = {
    [1] = "D"
}

game:GetService("ReplicatedStorage").RemoteEvents.BuyItemCash:FireServer(unpack(args)) 
end) 

Tab2Section:NewButton("Buy E", "Nothing", function() 
local args = {
    [1] = "E"
}

game:GetService("ReplicatedStorage").RemoteEvents.BuyItemCash:FireServer(unpack(args)) 
end)

Tab2Section:NewButton("Buy F", "Nothing", function() 
local args = {
    [1] = "F"
}

game:GetService("ReplicatedStorage").RemoteEvents.BuyItemCash:FireServer(unpack(args)) 
end) 

Tab3Section:NewButton("Buy Hearts", "Nothing", function() 
local args = {
    [1] = "Hearts"
}

game:GetService("ReplicatedStorage").RemoteEvents.BuyItemCash:FireServer(unpack(args)) 
end) 

Tab3Section:NewButton("Buy Pop It Heart", "Nothing", function() 
local args = {
    [1] = "Pop It Heart"
}

game:GetService("ReplicatedStorage").RemoteEvents.BuyItemCash:FireServer(unpack(args)) 
end) 

Tab3Section:NewButton("Buy Heart Balloon", "Nothing", function() 
local args = {
    [1] = "Heart Balloon"
}

game:GetService("ReplicatedStorage").RemoteEvents.BuyItemCash:FireServer(unpack(args)) 
end)

 Tab3Section:NewButton("Buy Corazón Cake", "Nothing", function() 
local args = {
    [1] = "Corazón Cake"
}

game:GetService("ReplicatedStorage").RemoteEvents.BuyItemCash:FireServer(unpack(args)) 
end) 

Tab3Section:NewButton("Buy Heart Lightstick", "Nothing", function() 
local args = {
    [1] = "Heart Lightstick"
}

game:GetService("ReplicatedStorage").RemoteEvents.BuyItemCash:FireServer(unpack(args)) 
end) 

Tab3Section:NewButton("Buy Heart Potion", "Nothing", function() 
local args = {
    [1] = "Heart Potion"
}

game:GetService("ReplicatedStorage").RemoteEvents.BuyItemCash:FireServer(unpack(args)) 
end) 

Tab3Section:NewButton("Buy Heart Gift", "Nothing", function() 
local args = {
    [1] = "Heart Gift"
}

game:GetService("ReplicatedStorage").RemoteEvents.BuyItemCash:FireServer(unpack(args)) 
end) 

Tab3Section:NewButton("Buy Heart Headphone", "Nothing", function() 
local args = {
    [1] = "Heart Headphone"
}

game:GetService("ReplicatedStorage").RemoteEvents.BuyItemCash:FireServer(unpack(args)) 
end) 

Tab3Section:NewButton("Buy Heart Radio", "Nothing", function() 
local args = {
    [1] = "Heart Radio"
}

game:GetService("ReplicatedStorage").RemoteEvents.BuyItemCash:FireServer(unpack(args)) 
end) 

Tab3Section:NewButton("Buy Heart Light", "Nothing", function() 
local args = {
    [1] = "Heart Light"
}

game:GetService("ReplicatedStorage").RemoteEvents.BuyItemCash:FireServer(unpack(args)) 
end) 

Tab4Section:NewButton("Made By BlockYT FromRoblosOhio", "Nothing", function() 
local args = {
    [1] = "Made By BlockYT FromRoblosOhio"
}
end) 
